@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .bg-lady{
  background-image: url("./assets/lady-trader.png");
} */
.footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}